.forminput {
  margin: 5px 0;
  width: 100%;
}
.right {
  margin-left: auto;
  order: 2;
}
.search-sidebar {
  flex-grow: 3;
  border: 1px solid lightgray;
  max-width: 345px;
}
input.input-style {
  border: 0;
  border-bottom: 2px solid #333;
  padding: 15px 0;
  display: block;
  font-size: 18px;
  font-family: "Muli", sans-serif;
  width: 100%;
  transition: 0.1s ease-in;
  margin: 5px;
}
input:focus,
input:valid {
  border-bottom-color: #9fb4c7;
  outline: none;
}
button.booking {
  color: white;
  background: #276fdb;
  border: none;
  border-radius: 5px;
  width: 65px;
  height: 30px;
  box-shadow: 2px 2px 2px #9e9e9e;
  margin: 5px;
}
.filter {
  text-align: center;
}
button.return,
button.oneway {
  color: white;
  background: #276fdb;
  border: none;
  border-radius: 5px;
  width: 65px;
  height: 30px;
  box-shadow: 2px 2px 2px #9e9e9e;
  margin: 5px;
}
button.favourite {
  color: white;
  background: #276fdb;
  border: none;
  border-radius: 5px;
  width: 65px;
  height: 30px;
  box-shadow: 2px 2px 2px #9e9e9e;
  margin: 5px;
}
.resultcontent .flightrow {
  margin: 5px;
  padding-inline-start: 0px;
}
.content {
  flex-grow: 7;
  border: 1px solid lightgray;
}
.content-divide {
  flex-grow: 3;
  width: 50%;
}
img.flight {
  transform: rotate(180deg);
}
.resultcontent {
  display: flex;
  width: 100%;
}
.result-header {
  border-bottom: 2px solid #dee2e6;
  padding: 5px 10px;
  content: "";
  clear: both;
  display: flex;
  width: 95%;
}
.layover {
  text-align: center;
}
.first-multi {
  border-bottom: 1px dotted;
}
.layover-text {
  display: block;
  background: #fff;
  margin-top: -10px;
  width: fit-content;
  margin: auto;
  margin-top: -13px;
}
.date-border {
  border: 2px solid #000;
  border-radius: 5px;
  margin: 0 10px 20px 10px;
  padding: 5px;
}
input.input-style-date {
  border: 0;
  width: 48%;
}
input.input-style-date:before {
  content: attr(placeholder);
  color: #aaa;
  margin-right: 0.5em;
}
input.input-style-date :focus:before,
input.input-style-date :valid:before {
  content: "";
}
.flex-container-whole {
  display: flex;
}
.flex-container {
  display: flex;
}
.flex-container .borderbox {
  padding: 8px;
  width: 21%;
  font-size: 13px;
}
.tabs {
  font-family: arial;
  margin: 10px auto;
  width: 90%;
  text-align: center;
}
.tab {
  border: 2px solid #000;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  color: #000;
  transition: all ease-in-out 0.2s;
  border-radius: 5px 5px 0 0;
}
form.returnform {
  padding: 10px;
  border: 2px solid #000;
}

.css-yk16xz-control {
  border: 2px solid #000 !important;
}
.active {
  color: #fff;
  background-color: #549be4;
}
.form {
  margin: 0 auto;
  padding: 100px 30px 0;
  @media (min-width: 800px) {
    max-width: 60%;
  }
}
.input-range {
  margin-bottom: 160px;
}
button:disabled {
  background: #81868f;
}
/*accordian*/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  line-height: 1.4;
  padding: 30px;
}
.wrapper {
  width: 600px;
  margin: 0 auto;
}
.accordion-wrapper + * {
  margin-top: 5px;
}
.accordion-item {
  overflow: hidden;
  transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
  height: auto;
  max-height: 9999px;
}
.accordion-item.collapsed {
  max-height: 0;
  transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}
.accordion-title:hover,
.accordion-title.open {
  color: black;
}
.borderbox.price {
  color: red;
}
.duration {
  color: green;
}
.accordion-wrapper {
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px lightgrey;
}
.row-border {
  display: flex;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px 2px lightgrey;
}
.Nu9NamY2hddFYWUF6xlui,
._1cPDVLW-57DBbSxMCCIlcU {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #276fdb !important;
}
._26xkacoaIgHDODsB3b3PDo {
  height: 4px;
  background-color: #9fb4c7 !important;
  align-self: center;
}
.menu-container {
  position: relative;
}
.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  border-bottom: 1px solid #dddddd;
}

.menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}
.menu-trigger {
  background: #ffffff;
  border-radius: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
}

.menu-trigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menu-trigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menu-trigger img {
  border-radius: 90px;
}
@media screen and (max-width: 1024px) and (min-width: 728px) {
  .flex-container-whole {
    flex-direction: column;
  }
  .resultcontent {
    flex-direction: column;
  }
}
@media screen and (max-width: 728px) and (min-width: 280px) {
  .resultcontent {
    flex-direction: column;
  }
  .flex-container-whole {
    flex-direction: column;
  }
  .content {
    flex-grow: 10;
    border: 1px solid lightgray;
  }
  .first-row {
    display: flex;
  }
  span.expand-flight {
    color: blue;
  }
  .row-border {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px lightgrey;
  }
  .flex-container .borderbox {
    padding: 8px;
    width: 20%;
    font-size: 13px;
  }
}
.first-row {
  display: flex;
}
